@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="home">
        <h1 class="display-4">Mega Desk<br /> Quoting System</h1>
        <div class="homeLinks">
            <p >
                <a asp-page="/Quotes/Create">Create New Quote</a>
            </p>
            <p>
                <a asp-page="/Quotes/Index">View All Quotes</a>
            </p>

           
        </div>


    </div>
