@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Mega Desk Quoting System</h1>

        <p>
            <a asp-page="/Quotes/Create">Create New Quote</a>
        </p>
        <p>
            <a asp-page="/Quotes/Index">View All Quote</a>
        </p>
        <p>
            <a asp-page="/Quotes/Index">Search Quotes By Name</a>
        </p>
        <p>
            <a asp-page="/Quotes/Index">Exit</a>
        </p>



    </div>
