@page
@model MegaDeskWeb_Angeles.Pages.Quotes.SearchByNameModel
@{
    ViewData["Title"] = "SearchByName";
}

<h1>SearchByName</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Customer Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />

        <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
        
    </p>
</form>